:root {
  --transition: all 0.17s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: black;
  font-family: Menlo, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto,
    noto, segoe ui, arial, sans-serif;
  overflow: hidden auto;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 3rem;
}

header {
  padding: 2.5rem 1rem;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background: white;
  text-align: center;
}

footer {
  padding: 2.5rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projects__container {
  padding: 1rem 4rem;
  gap: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: hidden;
}

.project {
  z-index: 10;
  border: 4px solid black;
  text-decoration: none;
  background: #f7df1e;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.5) 0.6rem 0.6rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  transition: var(--transition);
  position: relative;
  color: black;
}

.project__title {
  border-top: 2px solid black;
  border-left: 2px solid black;
  transition: var(--transition);
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px 32px;
  transform-origin: bottom right;
}

.project__description {
  transition: var(--transition);
  opacity: 0;
  background-color: white;
  width: 100%;
  padding: 1rem;
}

.project:hover {
  transform: scale(1.025) translateY(-8px);
  box-shadow: rgba(0, 0, 0, 0.35) 0.9rem 0.9rem 0px;
}

.project:hover .project__description {
  opacity: 1;
}

.project:hover .project__title {
  transform: scale(1.1);
  font-weight: 600;
}

#project__clock {
  background-image: url('public/images/project__clock.png');
}

#project__canvas-game {
  background-image: url('public/images/project__canvas-game.png');
  grid-column: span 2;
  grid-row: span 2;
}

#project__drum-kit {
  background-image: url('public/images/project__drum-kit.png');
  grid-column: span 2;
}

#project__css-variables {
  background-image: url('public/images/project__css-variables.png');
  grid-column: span 2;
}

@media screen and (max-width: 980px) {
  .project {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }

  #projects__container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  #projects__container {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  #projects__container {
    padding: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
