:root {
  --transition: all 0.17s ease;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  color: black;
  font-family: Menlo, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto,
    noto, segoe ui, arial, sans-serif;
  overflow: hidden auto;
}

h1 {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica, helvetica neue, ubuntu, roboto, noto,
    segoe ui, arial, sans-serif;
  font-size: 3rem;
}

header {
  background-color: white;
  padding: 7.5vh 1rem;
  top: 0;
  position: sticky;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
}

footer {
  padding: 2.5rem 1rem;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  border: none;
}

#projects__container {
  background-image: linear-gradient(to top, #ebbba7 0%, #cfc7f8 100%);
  padding: 2rem 4rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  overflow: visible;
}

.project {
  z-index: 4;
  border: 4px solid white;
  background: white;
  min-height: 200px;
  box-shadow: rgba(0, 0, 0, 0.35) 0.75rem 0.75rem 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  transition: var(--transition);
  position: relative;
  color: black;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.project__title {
  transition: var(--transition);
  background-color: white;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 4px 32px;
  transform-origin: bottom right;
  font-weight: 600;
}

.project__description {
  border: 4px solid white;
  box-shadow: rgba(0, 0, 0, 1) 0.85rem 0.85rem 0px;
  text-decoration: underline;
  transition: var(--transition);
  position: absolute;
  bottom: 0;
  left: -4px;
  opacity: 0;
  background-color: white;
  width: calc(100% + 8px);
  padding: 2rem 1rem;
  transform: translateY(100%);
}

.project:hover {
  filter: drop-shadow();
  z-index: 10;
  transform: scale(1.05) translateY(-8px);
  box-shadow: rgba(0, 0, 0, 1) 0.85rem 0.85rem 0px;
}

.project:hover .project__description {
  opacity: 1;
}

.project:hover .project__title {
  transform: scale(1.1);
}

.project__description:hover {
  background-color: skyblue;
}

#project__canvas-game {
  background-image: url('public/images/project__canvas-game.png');
  grid-column: span 2;
  grid-row: span 2;
}

#project__drum-kit {
  grid-column: span 1;
  grid-row: span 2;
}

#project__css-variables,
#project__css-variables .project__description {
  border-color: black;
  grid-column: span 2;
}

#project__clock,
#project__clock .project__description {
  border-color: black;
}

@media screen and (max-width: 980px) {
  .project {
    grid-column: span 1 !important;
    grid-row: span 1 !important;
  }

  #projects__container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
}

@media screen and (max-width: 768px) {
  #projects__container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 400px) {
  #projects__container {
    padding: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}
