* {
    box-sizing: border-box
}

html {
    font-size: 10px;
    background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9));
}

body, html {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
    padding: 10vw;
    height: 100vh;
    width: 100vw;
}

.keys {
    width: 100%;
    height: 100%;
    gap: calc(1vw + 10px) 1vw;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-content: center;
}

.key {
    cursor: pointer;
    /*border: 0.2rem solid black;*/
    border-radius: 4px;
    font-size: 1.5rem;
    transition: all .1s ease;
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #cb4e4e;
    box-shadow: 0 10px #ab3c3c;
}

.playing {
    transform: translateY(10px);
    box-shadow: none;
}

div.key > span:not(.sound) {
    font-size: 8rem;
}


.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}
